@media screen and (min-width: 500px) and (max-width: 767px){
    #wrapper{
        justify-content: center;
        display: flex;
        width: 100%;
        transform: scale(1);
    }
    #roadMapId{
        z-index: 2;
        position: absolute;
        display: flex;
        justify-self: center;
        margin-left: -2%;
        margin-top: 10%;
        transform: scale(1.1);
        min-width: 800px;
        min-height: 400px; 
        max-width: 800px;
        max-height: 400px; 
    
                
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .back{
        display: flex;
        position: relative;
        justify-content: center;
        top: 10%;
        left: -1.5%;
    
    }
    .back-col{
        width: 320px;
    }
    .for-photo{
        display: flex;
        position: absolute;
        justify-content: center;
        top: 15%;
        max-width: 50%;
        min-width: 50%;
        min-height: 50%;
        max-height: 50%;
    }
    .title{
        min-width: 25%;
        min-height: 332px;
        max-height: 332px;
        border: 1px solid black;
        border-radius: 12px;
        background-color: rgb(12, 15, 24);
        margin-left: 20px;
        margin-top: 20px;
    }
    #title-detail{
        min-width: 30%;
        min-height: 685px;
        max-height: 685px;
        overflow: hidden;
        text-align: right;
    }
    body{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
}